# Python
__pycache__/
*.py[cod]
*.so
.Python

# Environments
.env
.venv
env/
venv/
ENV/

# Data
data/raw/
data/output/
*.csv
*.bin
*.pdf
!sample.pdf

# Notebooks
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db